<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <queries>
    <!-- If your app opens https URLs -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <!-- If your app makes calls -->
    <intent>
      <action android:name="android.intent.action.DIAL" />
      <data android:scheme="tel" />
    </intent>
    <!-- If your app emails -->
    <intent>
      <action android:name="android.intent.action.SEND" />
      <data android:mimeType="*/*" />
    </intent>
  </queries>

  <application android:label="NaMi" android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules">
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.teilen"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/teilen_pfade" />
    </provider>
    <receiver android:exported="false"
      android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
    <receiver android:exported="false"
      android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
    <activity android:name=".MainActivity" android:launchMode="singleTop"
      android:taskAffinity=""
      android:screenOrientation="portrait"
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize"
      android:exported="true">
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />
      <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
      <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable"
        android:resource="@drawable/launch_background" />
      <!-- Nur für flutter_tools, das activity-alias nicht als Launch-Activity erkennt.
           Der Manifest-Merger entfernt den Filter, den Launcher-Eintrag stellen die Aliase. -->
      <intent-filter tools:node="remove">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- App-Icons: Genau ein Alias ist aktiv und stellt den Launcher-Eintrag.
         Umschalten per MethodChannel com.namiapp/app_icon (AppIconChannel). -->
    <activity-alias android:name=".IconDefault" android:targetActivity=".MainActivity"
      android:enabled="true" android:exported="true"
      android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconNachthimmelMorgen" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_nachthimmel_morgen" android:roundIcon="@mipmap/ic_launcher_nachthimmel_morgen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconNachthimmelAbend" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_nachthimmel_abend" android:roundIcon="@mipmap/ic_launcher_nachthimmel_abend">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconNachthimmelNacht" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_nachthimmel_nacht" android:roundIcon="@mipmap/ic_launcher_nachthimmel_nacht">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconLagerfeuerMorgen" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_lagerfeuer_morgen" android:roundIcon="@mipmap/ic_launcher_lagerfeuer_morgen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconLagerfeuerAbend" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_lagerfeuer_abend" android:roundIcon="@mipmap/ic_launcher_lagerfeuer_abend">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconLagerfeuerNacht" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_lagerfeuer_nacht" android:roundIcon="@mipmap/ic_launcher_lagerfeuer_nacht">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconWaldseeMorgen" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_waldsee_morgen" android:roundIcon="@mipmap/ic_launcher_waldsee_morgen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconWaldseeAbend" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_waldsee_abend" android:roundIcon="@mipmap/ic_launcher_waldsee_abend">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias android:name=".IconWaldseeNacht" android:targetActivity=".MainActivity"
      android:enabled="false" android:exported="true"
      android:icon="@mipmap/ic_launcher_waldsee_nacht" android:roundIcon="@mipmap/ic_launcher_waldsee_nacht">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity android:name="com.linusu.flutter_web_auth_2.CallbackActivity"
      android:exported="true"
      android:taskAffinity="">
      <intent-filter android:label="flutter_web_auth_2">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="de.jlange.nami.app" />
      </intent-filter>
    </activity>
    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="flutterEmbedding" android:value="2" />
  </application>
</manifest>